.fondo1{
    background-color: #4F92FF;
}

.titulo1 h1{
    color: #fff;
    font-size: 2em;
}

.titulo3 h3{
    color: #fff;
    font-size: 1.5em;
}

.centerme {
    margin: 0 auto;
}

.logo{
    margin-top: 20%;
    margin-bottom: 5%;
    width: 200px;
}

.concepto_definicion{
    font-size: 0.85em;
    margin-right: 8.5%;
}

.icono_derecha{
    margin-right: 5px;
}

.icono_derecha2{
    margin-right: 60px;
}

.iconos_grandes{
    font-size: 3em;
}

.marcado{
    background-color: #CBCBCB;
    color:#939393;
}

.normal{
    background-color: #fff;
}

.media{display: inline;font-size: 1.5em;}

.defDenun{
    margin-top: 15px;
}