<!-- Pantalla Emergente Agregar Definición-->

<ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Agregar Definición</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>

        <ion-content class="padding">
          <br/>
          <div class="list">

            <label class="item item-input">
              <span class="input-label">Escribe una definición: </span>
              <input ng-model="nuevaDefinicion.definicion" type="text">
            </label>

            <br/>
            
            <div class="padding text-center">            
              <button class="button button-positive" ng-click="crearDefinicion(nuevaDefinicion)">AÑADIR</button>
            </div>
          </div>

        </ion-content>

</ion-modal-view>