<!-- Pantalla de consultar -->

<ion-view id="consultar" title="Consultar">

  <ion-content class="has-header padding text-center">

      <div id="markdown1" style="color:#000000;"><p>Bienvenido a <b>Glosario</b></p></div>
      <br/>
      <div>
        <button class="button button-positive" modal-select="" ng-model="listadoDeConsulta" options="selectables" modal-title="Seleccione una Opción" option-getter="getOpciones(option)" on-select="miSeleccionOpciones(newValue, oldValue)" hide-reset="true">
            Selecciona una Opción
            <div class="option">
             {{option.enunciado}}
            </div>
        </button>
      </div>

    </ion-content>

</ion-view>