<!--
  This template loads for the 'ListExample' state (app.js)
-->
<ion-view id="">
    <ion-content padding="true" class="has-header text-center" has-header="true" >
      <h1 id="pagina1-heading1" style="color:#000000;">GLOSARIO</h1>
      <div class="button-bar"></div>
      <div id="markdown1" style="color:#000000;">
          <p>Bienvenido a
              <strong>Glosario</strong>
          </p>
      </div>

      <div>
        <button class="button button-positive" modal-select="" ng-model="listadoDeConsulta" options="selectables" modal-title="Seleccione una Opción" option-getter="getOpciones(option)" on-select="miSeleccionOpciones(newValue, oldValue)" hide-reset="true">
            Selecciona una Opción
            <div class="option">
             {{option.enunciado}}
            </div>
        </button>

        <h4 class="text-center" style="color:#000000;">{{listadoDeConsulta.enunciado}}</h4>

      </div>

      <!-- OPCION 1: Ultimos -->

      <div ng-show="listadoDeConsulta.url == 'ultimos'">
        <button class="button button-positive" modal-select="" ng-model="ultimosTerminos" options="listado" modal-title="Seleccione una Materia" option-getter="getTerminos(option)" on-select="miSeleccionTerminos(newValue, oldValue)">
          Selecciona un término
          <div class="option">
           {{ option.nombre }}
          </div>
        </button>

        <h4 class="text-center" style="color:#000000;">{{ultimosTerminos.nombre}}</h4>

      </div>

      <!--  -->

      <!-- OPCION 2: Por Materias -->

      <div ng-show="listadoDeConsulta.url == 'terminosPorMateria'">
        <button class="button button-positive" modal-select="" ng-model="misMaterias" options="materiasElegidas" modal-title="Seleccione una Materia" option-getter="getMaterias(option)" on-select="miSeleccionMaterias(newValue, oldValue)" ng-change="hola()">
          Selecciona una Materia
          <div class="option">
           {{ option.materia }}
          </div>
        </button>

        <h4 class="text-center" style="color:#000000;">{{misMaterias.materia}}</h4>

        <div ng-show="misMaterias.materia != null">

          <button class="button button-positive" modal-select="" ng-model="misTerminos" options="terminosElegidos" modal-title="Seleccione una Opción" option-getter="getTerminosPorMateria(option)" >
            Selecciona un término
            <div class="option">
             {{ option.nombre }}
            </div>
          </button>

          <h4 class="text-center" style="color:#000000;">{{terminosElegidos.nombre}}</h4>

        </div>

      </div>

      <button ui-sref="definiciones" style="font-weight:bold;" class="button button-dark">Consultar definicion</button>

      <!-- <a type="button" href="#/{{listadoDeConsulta}}" style="font-weight:bold;" class="button button-dark">Consultar</a> -->
     

    </ion-content>
</ion-view>