<!--
  This template loads for the 'ListExample' state (app.js)
-->
<ion-view id="">
    <ion-content padding="true" class="has-header text-center" has-header="true" >
      <h1 id="pagina1-heading1" style="color:#000000;">GLOSARIO</h1>
      <div class="button-bar"></div>
      <div id="markdown1" style="color:#000000;">
          <p>Bienvenido a
              <strong>Glosario</strong>
          </p>
      </div>
      
      <button class="button button-positive button-block" modal-select="" ng-model="someModel" options="selectables" modal-title="Seleccione una Opción" option-getter="getOpt(option)">
          Selecciona una Opción
          <div class="option">
           {{option.enunciado}}
          </div>
      </button>
      <a type="button" href="#/{{someModel}}" style="font-weight:bold;" class="button button-dark">Consultar</a>
    </ion-content>
</ion-view>