<!-- Pantalla de definiciones -->

<ion-view id="definiciones" title="Definiciones">
 	
    <ion-content padding="true" class="has-header" has-header="true">
    	<br/>
		<div class="item item-button-right">
		    <div class=""><h2><b>{{nombreTermino}}</b></h2></div>
		    <button class="icono_derecha button button-icon positive" ng-click="modal.show()">
		      <i class="icon ion-ios-plus"></i>
		    </button>
		</div>

		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider"><b>Listado</b></label>

  			<ion-item class="item item-body" ng-repeat="definicion in definiciones" ng-class="{{definicion.denunciado}} == true ? 'denunciado': 'normal'">		

				<div class="concepto_definicion">
	  			 {{ $index+1 }}: {{ definicion.definicion }}
	  			</div>
	  			<div class="item-button-right">
		  			<button class="icono_derecha button button-icon" ng-class="{{definicion.denunciado}} == true ? 'black': 'assertive'" ng-click="denunciarDefinicion(definicion.id, definicion.denunciado)">
			      		<i class="icon ion-android-alert"></i>
			    	</button>
		    	</div>

		    	<button class="button button-icon" ng-class="{{definicion.denunciado}} == true ? 'black': 'positive'" ng-click="valoracion(definicion.id, definicion.denunciado)">
		      		<i class="icon ion-thumbsup"></i>
		    	</button>
	  	
			</ion-item>

		</ion-list>


	</ion-content>
</ion-view>