<!--
  Pantalla de inicio
-->
	 <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Ionic Google Login Demo</h1>
        </ion-header-bar>
        <ion-content ng-controller="google">
            <br/><br/><br/><br/>
            <div style="width: 100%;text-align: center">
                <button ng-click="login();" class="button">
                    Login Via Google
                </button>                        
                <br/>
                <pre>
                {{google_data|json}}
                </pre>
            </div>
        </ion-content>
    </ion-pane>

    <ion-list>
		  <ion-item href="#/list">
		    Enlace login
		  </ion-item>
	</ion-list>