<!-- Pantalla de login -->

<ion-view id="login" title="Login">
    <ion-content class="fondo1 has-header padding">
     
    <div class="padding text-center" ng-model="google_data">

      <img class="foto_perfil" src="{{google_data.picture}}"></img>

      <div class="titulo4"><h3>{{google_data.name}}</h3></div>
 
      <div class="titulo4"><h3>{{google_data.email}}</h3></div>
    </div>

    <div style="width: 100%;text-align: center">
      <button ng-click="login();" class="button icon-left ion-social-googleplus">
        &nbsp;&nbsp;Login Via Google
      </button>                       
    </div>

  </ion-content>
</ion-view>


<!-- 
      <div style="width: 100%;text-align: center">
          <div ng-if="!isAuthenticated()">
              <button ng-click="authenticate('google')" class="button icon-left ion-social-googleplus">
                Sign in with Google
              </button>
          </div>

          <div ng-if="isAuthenticated()">

            <div class="card">
              <div class="item item-text-wrap">
                You are currently logged in.
              </div>
            </div>

            <button ng-click="logout()" class="button button-block">
              Log Out
            </button>
          </div>

          <pre>
          {{google_data|json}}
          </pre>

      </div>
-->