<!--
  This template loads for the 'ListExample' state (app.js)
-->

<ion-view id="">
    <ion-content padding="true" class="has-header" has-header="true">
    	<h2 class="text-center" style="color:#000000;"ng-model="nombreTermino">{{nombreTermino}}</h2>
		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider">
    			<b>Listado</b>
  			</label>
  			<ion-item ng-if="list.length == 0">
				Press <i class="icon ion-ios7-plus-outline"></i> to add item
			</ion-item>
			<!--  -->
			<ion-item ui-sref="terminosPorMateria" ng-repeat="materia in materias" ng-model="miMateriaSeleccionada">

	    			{{ materia.ensenanza }}
	
			</ion-item>

		</ion-list>

		<select ng-model="miMateriaSeleccionada" ng-options="materia as materia.ensenanza for materia in materias track by materia.id">
        	<option value="">--Elige opcion--</option>
     	</select>

     	<br>
      	El nombre de la provincia seleccionada es:{{miMateriaSeleccionada.id}}
		
	</ion-content>
</ion-view>