<!-- Pantalla de materias -->

<ion-view id="materia" title="Materias">
   
    <ion-content padding="true" class="fondo1 has-header" has-header="true">
    	<br/>
		<ion-list option-buttons="itemButtons" can-swipe="true">

			<label class="item item-divider"><b>Selecciona un Materia:</b></label>

			<ion-item ng-repeat="materia in materiasDisponibles" ng-model="materiaElegida" class="item item-icon-right">		
				<div ng-click="miSeleccionMaterias(materia)">
	  			 {{ materia.materia }} <i class="icon ion-chevron-right"></i> 
	  			</div>

			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>