<!-- Pantalla de materias -->

<ion-view id="materia" title="Materias">
   
    <ion-content padding="true" class="has-header" has-header="true">
    	<br/>
		<ion-list option-buttons="itemButtons" can-swipe="true">

			<label class="item item-divider">
    			<div id="markdown1" style="color:#000000;">
		          <p>Selecciona una materia:</p>
		      	</div>
  			</label>

			<ion-item ng-repeat="materia in materiasDisponibles" ng-model="materiaElegida">		

				<div ng-click="miSeleccionMaterias(materia)">
	  			 {{ materia.materia }}
	  			</div>

			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>