<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Agregar término</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Escribe un término: </span>
              <input ng-model="nuevoTermino.nombre" type="text">
            </label>

            <div class="list">
  		        <div class="item item-divider"> 
  		          Selecciona una materia :
  		        </div>
  		        
  		        <ion-radio ng-repeat="option in materiasElegidas"
  		                   ng-value="option.id"
  		                   ng-model="nuevoTermino.id">
  		          {{ option.ensenanza }}
  		        </ion-radio>
            </div>
		        
		    </div>
 
            <button class="button button-full button-positive" ng-click="crearTermino(nuevoTermino)">AÑADIR</button>
          </div>
        </ion-content>
</ion-modal-view>