<ion-view title="Pagina 1 ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>GLOSARIO</h1>
        <div class="button-bar"></div>
        <div>
            <p>Bienvenido a
                <strong>Glosario</strong>
            </p>
        </div>
        <form class="list">
            <ion-checkbox>¿Estas seguro?</ion-checkbox>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Introduce tu nombre</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div>
            <h2>PRUEBA DE CONTENIDO HTML</h2>

            <p>Editando desde Ionic Creator</p>
        </div>
        <a ui-sref="pagina2" id="pagina1-button1" style="font-weight:bold;" class="button button-assertive  button-block">CONTINUAR</a>
    </ion-content>
</ion-view>