<!-- Tabs-->

<ion-tabs class="tabs-icon-top tabs-positive" tabs-type="tabs-positive" animation="slide-left-right">

  <!-- Login Tab -->
  <ion-tab title="Login" icon="ion-social-googleplus" href="#/tab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>


  <!-- Consultar Tab -->
  <ion-tab title="Inicio" icon="icon ion-android-home" href="#/tab/inicio">
    <ion-nav-view name="inicio"></ion-nav-view>
  </ion-tab>


  <!-- Usuario Tab -->
  <ion-tab title="Cuenta de Usuario" icon="icon ion-android-contact" href="#/tab/usuario">
    <ion-nav-view name="usuario"></ion-nav-view>
  </ion-tab>

</ion-tabs>