<!-- Pantalla de Términos Por Materia -->

<ion-view id="terminosPorMateria" title="Términos Por Materia">
	
    <ion-content padding="true" class="has-header" has-header="true">

    	<h2 class="text-center" style="color:#000000;" ng-model="nombreTermino">{{nombreMateria}}</h2>

		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider">
    			<b>Listado</b>
  			</label>
  			
			<ion-item ng-repeat="termino in terminosPorMateria" ng-model="terminoSelecionadoPorMateria">		

				<div ng-click="select_item(termino)">
	  			 {{ termino.nombre }}
	  			</div>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>