<!-- Pantalla de Términos Por Materia -->

<ion-view id="terminosPorMateria" title="Términos Por Materia">
	
    <ion-content padding="true" class=" fondo1 has-header" has-header="true">

    	<h2 class="text-center" style="color:#fff;" ng-model="nombreTermino">{{nombreMateria}}</h2>

		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider">
    			<b>Listado</b>
  			</label>
  			
			<ion-item ng-repeat="termino in terminosPorMateria" ng-model="terminoSelecionadoPorMateria" class="item item-icon-right">		

				<div ng-click="select_item(termino)">
	  			 {{ termino.nombre }} <i class="icon ion-chevron-right"></i> 
	  			</div>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>