<!--
  This template loads for the 'ListExample' state (app.js)
-->

<ion-view id="">
    <ion-content padding="true" class="has-header" has-header="true">
    	<h1 class="text-center" style="color:#000000;">ULTIMOS TERMINOS</h1>
		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider">
    			<b>Listado</b>
  			</label>
  			<ion-item ng-if="list.length == 0">
				Press <i class="icon ion-ios7-plus-outline"></i> to add item
			</ion-item>
			<!--  -->
			<ion-item ng-repeat="termino in listado" ng-model="terminoSelecionado" ui-sref="definiciones">		

	  			 {{ termino.id }} - {{ termino.nombre }}

			</ion-item>

				{{terminoSelecionado.id}}
		</ion-list>
	</ion-content>
</ion-view>