<!-- Pantalla de ultimos términos añadidos -->

<ion-view id="ultimos" title="Ultimos Términos">

    <ion-content padding="true" class="has-header" has-header="true">

   	 	<h4 class=" text-center" style="color:#000000;" ng-model="nombreTermino">Listado de últimos términos añadidos al Glosario.</h4>

		<ion-list option-buttons="itemButtons" can-swipe="true">

			<label class="item item-divider"><b>Listado</b></label>

			<ion-item ng-repeat="termino in listado" ng-model="terminoSelecionado">		

				<div ng-click="select_item(termino)">
	  			 {{ termino.nombre }}
	  			</div>

			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>