<!-- Pantalla de usuario-->

<ion-view id="usuario" title="Cuenta de Usuario">

    <ion-content class="has-header padding text-center">

        <div id="markdown1" style="color:#000000;"><p>Bienvenido <b>usuario</b></p></div>

        <ion-list option-buttons="itemButtons" can-swipe="true">

          <label class="item item-divider"><b>Menú de Opciones</b></label>
          <ion-item ng-click="modal.show()" style="font-size:1.4em;"><i class="ion-ios-plus"></i> AGREGAR TERMINO</ion-item>

        </ion-item>

      </ion-list>

      </ion-content>
</ion-view>